/** IMPORTS **/
@import "variables";


/** -- Page -- **/
main {
    height: 100%; 
} 

.course-proper.page {
    height: calc(100% - 80px);
 
    .container-fluid {
        height: 100%;  
    }   

    .container-fluid > .row {
        height: 100%; 
    }
 
    .sidepanel {
        padding: 36px 16px; 
        background-color: #717580; /*fallback color*/ 
        background:#4915C2;
        background-image: url('../img/hero-bg-course.png');
        background-repeat: no-repeat;
        background-position: top center; 
        background-size: cover;   
        padding-left: 12%; 
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
        width: 100%;

        @media (min-width: 1440px) { 
            padding-left: 16%; 
        }

        @media only screen and (max-width: 1199px) and (min-width: 1025px)  {
            padding-left: 10%;  
        } 

        @media (max-width: 1024px) { 
            padding-left: 5%;  
        }

        @media (max-width: 767px) { 
            flex: 0 0 100%;
            max-width: 100%;  
        }

        .title {
            color: #fff;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 25px;  
            width: 75%;
            min-height: 60px;
        }

        .badge {
            background: #310E82;
            border-radius: 40px;
            padding: 5px 18px;
            font-weight: normal;
            font-size: 12px;
    
            .icon {
                margin-right: 10px;
            }
        }

        .tab-nav-menu {
            display: flex;
            position: relative;

            .menu-wrapper { 
                min-height: 60px; 
                width: calc(100% - 48px);
                z-index:2;
            }

            .icon {
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 5px; 
                color: #fff; 
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center; 
            }

            .navbar-form {
                &.search-box {
                    position: absolute;
                    width: 100%;
                    justify-content: flex-end;
                    display: flex; 

                    .form-group { 
                        width: 100%;
                        z-index: 5; 

                        .form-control {
                            height: auto;
                            padding: 11px 10px;
                            margin-right: 12px;  
                        }
                    }

                    #search-form { display: none; } 
                }
            }
        }

        .nav-tabs {
            border-bottom: 0;

            .nav-link {
                color: rgba(255, 255, 255, 0.8);
                font-weight: 500;
                font-size: 18px; 

                &:hover,
                &:focus,
                &.visited,
                &:active, 
                &.active {
                    background-color: transparent;
                    color: #fff;
                    border: 0; 
                    border-bottom: 3px solid #FFFFFF !important;
                } 

                &:not( :hover ){
                    background-color: transparent;
                    color: #fff;
                    border: 0; 
                }
            }
        }

        .material-icons {
            &.md-16 {
                font-size: 16px; 
            }
        }
    }

    .main-container {   
        padding-right: 12%;
        flex: 0 0 60%;
        max-width: calc(60% - 20px); 
        position: relative;
        width: 100%;
        margin-left: 15px;

        @media (min-width: 1440px) { 
            padding-right: 15%; 
        }
 
        @media (max-width: 1024px) { 
            padding-right: 5%;   
        }

        @media (max-width: 767px) {  
            flex: 0 0 100%;
            max-width: calc(100% - 20px); 
        }

        .img-wrapper {
            margin: 0 0 30px; 
            text-align: center;

            &.full-width {
                width: 100%;
            }
        }

        .video-wrapper {
            img,
            iframe {
                width: 100%;
            }


        }

        .btn-container {
            .info-wrapper {
                display: flex;
                align-items: center;

                .info {
                    display: flex;
                    align-items: center;
                    color: #310E82;
                    font-weight: bold;

                    .icon {
                        margin-right: 10px;
                        color: #3E3F42;
                    }
                } 
            }
        }
    }
}

.course-proper {  
    &.hero-banner-info { 
        height: 570px; 
    }

    .title-wrapper {
        margin: 26px 20px;

        .sub-title {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 22px; 
            color: #3E3F42;
            align-items: center; 
            display: flex;

            span {
                margin-right: 10px;
            }
        }
    }

    .bookmark-link {
        margin-top: 15px;
        font-weight: bold; 
        color: #5E25E3;

        .icon {
            position: relative;
            top: 6px;
        }
    }

    .breadcrumb-wrapper {
        color: #fff;
    }

    .inner-banner {
        height: 400px;
        color: #fff;
        
        background-image: url('../img/hero-bg-course-detailed.png'); 
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;       
    }

    .link-center-right {
        display: flex; 
        align-items: center; 
        justify-content: flex-end; 
    }   

    .control-buttons {
        margin: 15px;

        .btn-wrap { 
            display: flex;

            .btn-control {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%; 
                padding: 12px 20px;
                color: #5E25E3; 
                font-weight: bold;

                &:disabled {
                    color: #E2E4E7;
                    font-weight: normal;
                }
 
                &.btn-next {
                    justify-content: flex-end;
                }
 
                &.btn-prev {
                    justify-content: flex-start;
                }

                &.prev, 
                &.next {
                    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.16));
                    background: #FFFFFF;
                    border-radius: 5px; 
                    
                }

                .icon { 
                    position: relative;
                    top:1px;
                }
            }

            &.align-right {
                justify-content: flex-end; 
            }
        }

        .nav-wrap {
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.16));
            background: #fff;
            border-radius: 3px;  

            &.no-border {
                filter: none; 
                background: transparent;
            }

            .col-btn-control {
                flex: 0 0 20%;
                max-width: 20%; 
            }

            .col-submenu-control {
                flex: 0 0 60%;
                max-width: 60%; 
            } 

            .row {
                margin-left: 0;
                margin-right: 0;
            }

            button {
                border: 0;
                background: transparent;

                &:focus,
                &.visited,
                &:active {
                    border: 0; 
                    border: none;
                    outline:none; 
                }
            }
        }

        .btn-group {
            width: 100%;
            border-left: 1px solid #E2E4E7;
            border-right: 1px solid #E2E4E7; 

            .btn { 
                margin-bottom: 0;
                padding: 10px; 
                margin: 0;

                &.prev {
                    flex: inherit !important;
                }

                &.btn-light {
                    background: rgba(252, 252, 252, 0.08) !important;
                    color: #3E3F42;
                    border-radius: 0; 
                }

                &:hover,
                &:active,
                &.active {
                    background: rgba(94, 37, 227, 0.08) !important;
                    color: #5E25E3; 
                    box-shadow: none; 
                } 

                &:focus,
                &.visited {
                    box-shadow: none; 
                } 
            }
        }
    } 
    
    .card {
        margin: 15px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
        border-radius: 5px; 

        .card-title {
            padding: 15px 15px 0; 
            margin-bottom: 0;

            small {
                color: #717580;
            }

            h4 {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                color: #3E3F42;
            }
        }

        .card-body {

            .title {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                color: #3E3F42;
            }

            p {
                font-size: 12px;
                line-height: 18px;
                color: #3E3F42;
                font-style: normal;
                font-weight: normal; 
            }

            .description {
                margin: 15px 0;

                small {
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 13px;
                    color: #3E3F42;
                }

                .link {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.177778px;
                    color: #4915C2;
                } 
            }

            .alert-note {
                font-weight: normal;
                font-size: 11px;
                line-height: 14px;
                color: #717580;
            }
        } 

        .section-shade {
            background: #f5f5f5;
            margin: 15px 0;
            padding: 11px 15px;
            border-radius: 5px;
            color: #3E3F42;
            display: flex;
            justify-content: space-between; 
            align-items: center;

            .btn {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 13px;
                color: #4915C2; 

                .icon {
                    margin-left: 10px;
                }
            }
        }

        .agree-section {
            background: #f5f5f5;
            margin: 0 15px 15px 15px;
            padding: 11px 15px;
            border-radius: 5px;
            color: #3E3F42;
        }

        .answer-section {
            margin: 0 15px 15px 15px;

            .form-check { 
               display: block;
               width: 100%;
               padding: 11px 15px;
                border-radius: 5px;
                background: #F5F5F5;
                margin: 4px 0; 
                font-weight: 500;

                &:hover {
                    cursor: pointer;
                }
              
                &.checked {
                    background:  rgba(94, 37, 227, 0.08);
                    color: #310E82;
                } 

                .form-check-input {
                    margin-left: 0;
                    margin-top: .2rem;
                }

                label {
                    width: 100%;
                }
                
            }
        }
    }

    .btn-container {
        margin: 15px; 
 
        .btn {
            margin-bottom: 0;
        }
    }

    /** Tab Side Content **/
    .accordion  {
        .accordion-item {
            background: #ffffff;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 8px; 

            .accordion-button {
                border: 0;
                width: 100%;
                text-align: left;
                color: #000000; 
                font-size: 14px;
                font-weight: bold;
                background: transparent; 
                padding:0;
                position: relative;

                &:before {
                    content: 'remove'; 
                    font-family: 'Material Icons';
                    font-size: 21px;
                    margin-right: 3px;
                    position: absolute;
                    color: #717580;
                    right: 0;
                    z-index: 1;
                    top: -5px; 
                } 

                &.collapsed {
                    color: $app-primary;

                    &:before {
                        content: 'add'; 
                        color: $app-primary;
                    }
                }

                span {
                    margin-right: 10px;
                }

                &:active,
                &:focus, 
                &:visited { 
                    outline: none; 
                }
            }

            .nav-list {
                &.sub-menu {
                    font-size: 12px;
                    line-height: 18px;
                    color: #3E3F42;
                    list-style: none;
                    padding: 0;
                    margin: 5px 0 0 0;
 
                    li { 
                        position: relative;
                        padding: 3px 25px; 
                       

                        .icon-text-wrapper {
                            display: flex;
                            align-items: center;

                            .icon { 
                                margin-right: 8px;
                            }

                            .icon-right {
                                position: absolute;
                                right: 20px;
                                margin-right: 0; 

                                &.icon-bookmark {
                                    color: $app-primary;
                                }
                            }
                        }
                        

                        &.active {
                            background: rgba(252, 132, 3, 0.1);
                            border-radius: 3px;
                            color: #310E82;
                            border-left: 2px solid #FC8403;
                        }

                    } 
                }
            }
        }
    } 
    /** /Tab Side Content **/ 

    /** Side Collapse Toggle **/   
    .card-with-slide {
        position: relative;
        overflow: hidden;
    }

      .card-sidebar {
        height: 100%;
        width: 0; 
        position: absolute;
        z-index: 1; 
        top: 0;
        right: 0;
        //transition: 0.5s; 
        transition: transform .2s ease-in-out;

        .card-side-container {
            background-color: #F5F5F5; 
            height: 100%;
            max-width: 164px;
            position: absolute; 
            overflow-y: auto;
        }

        .content-wrapper {
            margin: 16px; 
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
        }

        .closebtn { 
            position: absolute;
            top: 0;
            left: 3px; 
            background: #310E82;
            color: #fff;
            padding: 3px;
            display: flex; 

            .icon {
                font-size: 16px !important;
                font-weight: normal;
            }
        }
      }
      
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #310E82;
        color: white;
        padding: 0 6px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 6px; 

        .icon {
            font-size: 16px !important;
            font-weight: normal;
        }
      }

      #card-main {
        transition: margin-left .5s;
        padding: 16px; 
        transition: all 0.2s ease 0s; 
      }
      

    /** /Side Collapse Toggle **/
}

//Responsive 
@media (max-width: 490px) { 
    .col-btn-control {
        .btn-control {
            justify-content: center !important;
        }
        
        .btn-prev,
        .btn-next {
            span {
                display: none; 
            }
        }
    } 

    .course-proper {
        .title-wrapper {
            .sub-title {
                font-size: 16px; 
            }
        }

        .section-shade {
            display: block !important;

            .btn {
                width: 100%;  
                margin-top: 1rem;
            }
        }
    } 

    .card-with-slide {
        #card-main {
            margin-right: 0 !important; 
        }

        .description {
            div {
                -ms-flex: 0 0 50%;
                flex: 0 0 100%;
                max-width: 100%;  
            }
        }
    } 
}

@media only screen and (max-width: 991px) and (min-width: 768px)  {
    .col-btn-control {
        .btn-control {
            justify-content: center !important;
        }

        .btn-prev,  
        .btn-next {
            span {
                display: none; 
            }
        }
    }

    .sidepanel {
        .nav-tabs {
            .nav-link {
                padding: .5rem .6rem;
                font-size: 15px !important; 
            }
        }
    }

    .card-with-slide {
        .description {
            div {
                -ms-flex: 0 0 50%;
                flex: 0 0 100%;
                max-width: 100%;  
            }
        }
    }
    
}

@media only screen and (max-width: 767px) and (min-width: 491px)  {
    .col-btn-control {
        .btn-control {
            padding: 12px 10px !important; 
        }

        .btn-prev,
        .btn-next {
            span {
                display: block; 
            }
        }
    }
}