//
// Variables
// --------------------------------------------------
  
//== Colors 


$app-primary:           #4915C2;   
$app-secondary:         #FC8403;
$section-title:         #3BBFF7;
$btn-light-color:       #2C2E85;
$scroll-bar-color:      #717580;
$dropdown-hover-bg:     #5E25E3;  

$link-color:            $app-primary;
$li-link-bullet:        $dropdown-hover-bg;

$alert-warning:          #FC8403;

//== Cards Background
$app-card-solid:        #2C2E85;

$primary: #d93eba;
$body-bg: #fff;
$secondary: #8300d9;   